
{var $value = $attr['value']}
{$attr['value'] = null}
<select n:attr="$attr" n:inner-foreach="$option as $sValue => $mName">
  {if ('is_array'|func:$mName)}
  <optgroup label="{$sValue}" n:inner-foreach="$mName as $sChildValue => $sChildName">
    <option value="{$sChildValue}" {($sChildValue|compare:$value) ? 'selected'}>{$mName}</option>
  </optgroup>
  {else}
    <option value="{$sValue}" {($sValue|compare:$value) ? 'selected'}>{$mName}</option>
  {/if}
</select>
